/* Styling for Add1 */

.add1 {
  border: 1px solid skyblue;
  padding: 20px;
  height: 90px;
  line-height: 200%;
  border-radius: 10px;
  background-color: white;
}
.add1 div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: bold;
  color: grey;
}
.add1 div:nth-child(1) {
  border-bottom: 1px solid skyblue;
}

/* Styling for Add 2 */
.add2 {
  padding: 20px;
  border: 1px solid skyblue;
  border-radius: 10px;
  margin-top: 20px;
  background-color: white;
}

/* Styling for Add 3 */
.add3 {
  padding: 20px;
  border: 1px solid skyblue;
  border-radius: 10px;
  margin-top: 20px;
  background-color: white;
}
.add3 h3 {
  margin: 15px 0;
  color: #363636;
}
.add-people .people {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: grey;
  margin-right: 10px;
}
.add-people .people-about p:nth-child(1) {
  font-weight: 500;
}
.add-people {
  display: flex;
}
.add-people button {
  margin-top: 10px;
  padding: 5px 6px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 15px;
  border: 2px solid grey;
  background-color: transparent;
  color: grey;
}
